* {
    margin: 0;
    padding: 0;
}

img {
    width: 30%;
    height: 100vh;
}

body {
    display: flex;
    color: white;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgb(111, 74, 43);
}


.main {
    font-size: 1.6rem;
    margin: 120px;
    margin-bottom: 50px;

}

.form {
    font-size: 1.5rem;
    margin: 0px 120px;

}

p {
    margin-bottom: 50px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

.form_wrapper {
    display: flex;
    gap: 50px;
}

label {
    display: block;
}



input {
    height: 27px;
    width: 200px;
    font-size: 1.4rem;
    background-color: rgba(161, 231, 236, 0.562);
    color: black;
}

button {
    margin-bottom: 20px;
    padding: 15px 25px;
    font-size: 1.2rem;
    border-radius: 15px;
    background-color: #596D48;
    color: white;
}

.submit_login {
    margin-top: 50px;

}

a {
    text-decoration: none;
    color: rgb(55, 180, 189);
}